
/* Got all below styles from: view-source:https://getbootstrap.com/docs/5.2/examples/sign-in/
By click on the hyperlink in "signin.css" */
  html,
  body {
    height: 100%;
  }

  body {
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
  }

  .form-signin {
    max-width: 330px;
    padding: 15px;
  }

  .form-signin .form-floating:focus-within {
    z-index: 2;
  }

  .form-signin input[type="firstname"] {
    margin-bottom: -1px;
    border-radius: 5px 5px 0px 0px;


  }

  .form-signin input[type="lastname"] {
    margin-bottom: -1px;
      border-radius: 0px 0px 0px 0px;

  }

  .form-signin input[type="email"] {
    margin-bottom: 5px;
    border-radius: 0px 0px 5px 5px;

  }
